.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

//.header_buttons {
//  .button {
//    i {
//      vertical-align: middle;
//      margin-right: 15px;
//    }
//  }
//}